In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Mengimport library yang aka digunakan
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Mengupload data
data = pd.read_excel("/content/drive/MyDrive/Dataset/Improving Employee Retention by Predicting Employee Attrition Using Machine Learning.xlsx")
print()
print(data.dtypes)
print()
print(data.shape)
data.head(5)

Username                               object
EnterpriseID                            int64
StatusPernikahan                       object
JenisKelamin                           object
StatusKepegawaian                      object
Pekerjaan                              object
JenjangKarir                           object
PerformancePegawai                     object
AsalDaerah                             object
HiringPlatform                         object
SkorSurveyEngagement                    int64
SkorKepuasanPegawai                   float64
JumlahKeikutsertaanProjek             float64
JumlahKeterlambatanSebulanTerakhir    float64
JumlahKetidakhadiran                  float64
NomorHP                                object
Email                                  object
TingkatPendidikan                      object
PernahBekerja                          object
IkutProgramLOP                        float64
AlasanResign                           object
TanggalLahir                           object
TanggalHiring                          object
TanggalPenilaianKaryawan               object
TanggalResign                          object
dtype: object

(287, 25)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,...,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,...,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,1,1.0,masih_bekerja,1972-07-01,2011-01-10,2016-2-15,-
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,...,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,1,1.0,toxic_culture,1984-04-26,2014-01-06,2020-1-17,2018-6-16
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,...,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,1,1.0,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-9-24
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,...,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,1,0.0,masih_bekerja,1979-11-24,2014-2-17,2020-02-04,-
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,...,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,1,0.0,ganti_karir,1974-11-07,2013-11-11,2020-1-22,2018-09-06

- Terdapat 287 baris dan 25 kolom,
- Terdapat beberapan type data yang kurang sesuai
- terdapat beberapa kolom yang memiliki missing value

In [ ]:
# melihat jumlah missning value
data_missing = data.isnull().sum()
missing_value = data_missing [data_missing>0]
missing_value

SkorKepuasanPegawai                     5
JumlahKeikutsertaanProjek               3
JumlahKeterlambatanSebulanTerakhir      1
JumlahKetidakhadiran                    6
IkutProgramLOP                        258
AlasanResign                           66
dtype: int64

## Mengatasi data null

In [ ]:
# melakukan drop pada kolom yang memiliki missing value diatas 10%
data = data.drop(columns=['IkutProgramLOP','AlasanResign'])

#melakukan imputasi pada kolom yang memiliki missing value dibawah 10%
median = data_missing.median()
data = data.fillna(median)

# melakukan pengecekan missing value
data.isnull().sum()

Username                              0
EnterpriseID                          0
StatusPernikahan                      0
JenisKelamin                          0
StatusKepegawaian                     0
Pekerjaan                             0
JenjangKarir                          0
PerformancePegawai                    0
AsalDaerah                            0
HiringPlatform                        0
SkorSurveyEngagement                  0
SkorKepuasanPegawai                   0
JumlahKeikutsertaanProjek             0
JumlahKeterlambatanSebulanTerakhir    0
JumlahKetidakhadiran                  0
NomorHP                               0
Email                                 0
TingkatPendidikan                     0
PernahBekerja                         0
TanggalLahir                          0
TanggalHiring                         0
TanggalPenilaianKaryawan              0
TanggalResign                         0
dtype: int64

Setelah menghandle data yang missing terdapat kolom yang masih perlu diperhatikan. Untuk kolom tanggal yang memiliki type data object perlu di ubah ke type data date karena terdapat beberapa kolom yg memiliki missing value namun tidak terdetek ketika melakukan imputasi data sebelumnya dikarenakan type data object dimana ' - ' masih memiliki nilia, padahal ini tidak memiliki arti (kosong)

In [ ]:
# merubah type data tanggal
data['TanggalLahir'] = pd.to_datetime(data['TanggalLahir'])
data['TanggalHiring'] = pd.to_datetime(data['TanggalHiring'])
data['TanggalPenilaianKaryawan'] = pd.to_datetime(data['TanggalPenilaianKaryawan'])
data['TanggalResign'] = pd.to_datetime(data['TanggalResign'], errors='coerce')
# melakuka pengecekan ulang pada data yg memiliki missing value
data_missing = data.isnull().sum()
missing_value = data_missing [data_missing>0]
missing_value

TanggalResign    198
dtype: int64

In [ ]:
# melakukan drop pada kolom yang missing
data =data.drop(columns='TanggalResign',axis=1)

In [ ]:
data.isnull().sum()

Username                              0
EnterpriseID                          0
StatusPernikahan                      0
JenisKelamin                          0
StatusKepegawaian                     0
Pekerjaan                             0
JenjangKarir                          0
PerformancePegawai                    0
AsalDaerah                            0
HiringPlatform                        0
SkorSurveyEngagement                  0
SkorKepuasanPegawai                   0
JumlahKeikutsertaanProjek             0
JumlahKeterlambatanSebulanTerakhir    0
JumlahKetidakhadiran                  0
NomorHP                               0
Email                                 0
TingkatPendidikan                     0
PernahBekerja                         0
TanggalLahir                          0
TanggalHiring                         0
TanggalPenilaianKaryawan              0
dtype: int64

## Mengganti value yang tidak sesuai

In [ ]:
data['PernahBekerja'].value_counts()

1      286
yes      1
Name: PernahBekerja, dtype: int64

In [ ]:
data['PernahBekerja'] = data['PernahBekerja'].replace('yes',0)

In [ ]:
data['PernahBekerja'].value_counts()

1    286
0      1
Name: PernahBekerja, dtype: int64

## Membuang data yang tidak diperlukan

In [ ]:
data.nunique()

Username                              285
EnterpriseID                          287
StatusPernikahan                        5
JenisKelamin                            2
StatusKepegawaian                       3
Pekerjaan                              14
JenjangKarir                            3
PerformancePegawai                      5
AsalDaerah                              5
HiringPlatform                          9
SkorSurveyEngagement                    5
SkorKepuasanPegawai                     6
JumlahKeikutsertaanProjek               9
JumlahKeterlambatanSebulanTerakhir      7
JumlahKetidakhadiran                   23
NomorHP                               287
Email                                 287
TingkatPendidikan                       3
PernahBekerja                           2
TanggalLahir                          284
TanggalHiring                          97
TanggalPenilaianKaryawan              127
dtype: int64

setelah melakukan pengecekan tidak terdapat data kolom yang memiliki 1 nilai uniq value